body 
{
	margin:0;
	padding:0;
	overflow:auto;
	background-color: white;
	color: black;
	font-family: Arial;
	font-size: 10pt;
	background-image: url('./../images/background.jpg');
	background-repeat: repeat-x;
}

#menu
{
	width:250px; 
	height:255px;
	left: 50px;
	top: 50px;
}

#menu UL, #menu LI
{
	margin:0;
	padding: 0;
	list-style-type:disc;

}


 #title
{
	background-image: url("./../images/pork.png");
	background-position: bottom right;
	background-repeat: no-repeat;
	height: 155px;
	line-height: 155px;
	padding-left: 25px;
	font-family: georgia;
	font-size: 65pt;
	vertical-align: middle;
	color: #CCCCCC;
	position: absolute;
	bottom: 25px;
	width: 100%;
}

#title P
{
	font-size: 10pt;
	position: relative;
	display:inline;
}

#menu A
{
	color: black;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

#menu A:hover
{
	text-decoration: underline;
}

.tableList
{
	width: 100%;
}
#tableList UL, #tableList LI
{
	margin: 0;
	padding:0;
	list-style-type:none;
}

#tableList LI
{
	padding: 3px;
	border: 1px outset gray;
}


#tableList LI A
{
	color: black;
	text-decoration: none;

}

#mochaDesktopNavbar A, .windowMenu A
{
	text-decoration: none;
}

table.editor
{
	width: 100%;
}

table.editor, .editor td
{
	border: 1px solid #F0F0F0;
	border-collapse:collapse;
}

.editor TD
{
border-bottom:1px solid #DCDCDC;
border-top:1px solid white;
font-size:11px;
line-height:16px;
padding:5px 4px 4px;
vertical-align:top;
}

.editor TH {
background-color:#EDEDED;
background-image:url(./../images/thead_back.gif);
background-repeat:repeat-x;
border-bottom:1px solid white;
color:#323232;
font-size:11px;
font-weight:bold;
padding:6px 4px 5px;
text-align:left;
vertical-align:top;
white-space:nowrap;
}

.editor {
background-color:#FAFAFA;
border-left:1px solid #E1E1E1;
border-right:1px solid #E1E1E1;
border-top:1px solid #D7D7D7;
empty-cells:show;
font-size:11px;
padding:0px 1px;
 position: relative;
}

#tableList
{
	margin: 0; 
	padding:0;
	width: 250px;
}
#tableList LI, .button
{
	height: 22px;
	border-bottom:1px solid #DCDCDC;
	border-top:1px solid white;
	font-size:11px;
	line-height:16px;
	padding:5px 2px 2px;
	vertical-align:top;
	border:1px solid #F0F0F0;
	background-color:#FAFAFA;

}



#tableList LI:hover, .button:hover
{
	background-color:#EDEDED;
background-image:url(./../images/thead_back.gif);
background-repeat:repeat-x;
border-bottom:1px solid white;
}

#tableList LI A
{
	display:block;
	width: 100%;
	height:100%;
	vertical-align:middle;
	line-height:20px;
	text-align: left;
	background-image: url('./../images/table.png');
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 22px;
	font-size: 12px;
	
}

.tablename
{

background-image: url('./../images/table.gif');
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 25px;
	line-height:28px;
	display:block;
	width: 100%;
	height:100%;

}

.databasename
{
	background-image: url('./../images/database.png');
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 35px;
	line-height:35px;
	display:block;
	width: 100%;
	height:100%;
}

.windowMenu .databases LI A
{
	background-image: url('./../images/database.gif');
	background-repeat: no-repeat;
	padding-left: 20px;	
}

.windowMenu .databases LI A:hover
{
	background-image: url('./../images/database.gif');
	background-repeat: no-repeat;
	
}

A.relation
{
	background-image: url('./../images/relation.gif');
	background-repeat: no-repeat;
	background-position: center left;
	padding: 8px;
	padding-left: 25px;	
	vertical-align:middle;
	color: black;
	font-size: 12px;
	display:block;
	clear: none;
}

.via
{
	background-image: url('./../images/relationvia.gif') !important;
}

.small
{
	font-size: 9px;
}

input[type=text]
{
	border: 1px solid #CDCDCD;
	padding:2px;
}

input[type=text]:hover
{
	border: 1px solid black;

}

input[type=text]:focus
{
	background-color: #EFEFEF;
	border: 1px solid black;
	color: black;
}


/*globalnav*/

.tabList {
	position:relative;
	float:left;
	width:100%;
	padding:0 0 1.75em 1em;
	margin:0;
	list-style:none;
	line-height:1em;
}

.tabList LI {
	float:left;
	margin:0;
	padding:0;
}

.tabList A {
	display:block;
	color:#444;
	text-decoration:none;
	font-weight:bold;
	background:#ddd;
	margin:0;
	padding:0.25em 1em;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	border-right:1px solid #aaa;
}

.tabList A:hover,
.tabList A:active,
.tabList.active A:link,
.tabList.active A:visited {
	background:#bbb;
}

.tabList.active A:link,
.tabList.active A:visited {
	position:relative;
	z-index:102;
}

.tab
{
	position: absolute;
	top: 20px;
	left: 0;
	
}

.nolink
{
	text-decoration:none;
	color: black;
}